<br><hr>
<div class="user-details">
  <h1> Education </h1>
</div>
<div class="user-projects">
	<h3><strong>Udacity (Jan. 2018 - July 2018)</strong></h3>
	<p><strong>Nano Degree:</strong> Data Analyst <a href=" https://confirm.udacity.com/LGUKXDDT">Basic</a>&<a href=" https://confirm.udacity.com/KFHYJG6D">Advanced</a></p>
	<h4>Relevant Courses:</h4>
    <ul>
      <li><strong>Python</strong> </li>
      <li><strong>SQL</strong> </li>
      <li><strong>R</strong> </li>
    </ul>
        <h3><strong>The Academy of Armored Forces Engineering of PLA (Aug. 2014 - Jan. 2017)</strong></h3>
	<p><strong>Degree:</strong> Master of Engineering</p>
    <ul>
      <li><strong>Major:</strong> Power Electronics and Power Transmission.</li>
      <li><strong>Achievements:</strong>
    <ul>
      <li> I am responsible for product design and programming (Python) in three military level projects 
as a principal personnel,and these items were selected as excellent projects in military.</li>
      <li> My graduation project is Research and Implementation of Modulation Schemes in Visible Light Communication, and the graduation thesis was selected as an excellent academic thesis.</li>
     </ul>
      </li></li>

      <li><strong>R</strong> </li>
    </ul>
        <h3><strong>Xi'an Jiaotong University(Aug. 2010 - July 2014)</strong></h3>
	<p><strong>Degree:</strong> </p>
	<h4>Relevant Courses:</h4>
    <ul>
      <li><strong>Python</strong> </li>
      <li><strong>SQL</strong> </li>
      <li><strong>R</strong> </li>
</div>